.about-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;

  &__tech {
    position: relative;
    width: 768px;
    height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: transparent;
    border: none;

    color: transparent;
  }

  &__textarea {
    width: 768px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    resize: none;
    overflow: hidden;

    background: transparent;
    border: none;

    outline: none;
    cursor: text;

    background-attachment: local;
    background-image: url('../img/text-underline.png');
    background-repeat: repeat-y;
    background-size: 768px 60px;
  }

  &__tech,
  &__textarea {
    font: {
      size: 30px;
      family: $alternate-font;
      weight: 400;
    }

    color: $text-lightgray;
    line-height: 61px;
  }

  &__tech {
    color: transparent;
  }
}
