.form-item {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__label {
    font: {
      size: 1em;
      family: $main-font;
      weight: 700;
    }

    line-height: 1;
    color: $text-brown;

    padding-bottom: 2px;
  }

  &__input {
    width: 100%;

    font: {
      size: 1.125em;
      family: $alternate-font;
      weight: 400;
    }

    line-height: 1;
    color: $text-lightgray;

    background-color: transparent;
    background-image: url('../img/input-underline.png');
    background-size: auto;
    background-position: bottom right;
    background-repeat: no-repeat;

    border: none;

    padding-left: 5px;
    padding-bottom: 5px;
  }

  &__input--number::-webkit-outer-spin-button,
  &__input--number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }
}

@media only screen and (min-width: $laptop) {
  .form-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__label {
      font: {
        size: 1.402em;
      }

      margin-right: 15px;
    }

    &__input {
      font: {
        size: 1.875em;
      }

      padding-left: 14px;
      padding-bottom: 12px;
    }
  }
}
