.header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  padding-bottom: 20px;

  &__logo {
    width: 77px;
    height: 26px;
  }

  &__link {
    width: 100%;
    height: 100%;

    outline: none;
    cursor: pointer;

    text-decoration: none;
  }

  &__secret {
    width: 126px;
    height: auto;
  }
}

@media only screen and (min-width: $laptop) {
  .header {
    align-items: flex-start;

    padding-bottom: 41px;

    &__logo {
      width: 154px;
      height: 52px;
    }

    &__secret {
      position: absolute;

      top: -14px;
      right: -57px;

      width: 252px;
    }
  }
}
