.main-intro {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  &__title {
    width: 221px;
    height: 118px;

    background-image: url('../img/project.svg');
    background-size: 221px 118px;
    background-repeat: no-repeat;
    background-position: top center;

    margin: 0;
    margin-left: -43px;
  }
}
