.main-plans {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-bottom: 73px;

  &__title {
    @extend .main-tech__title;

    margin-bottom: 7px;
  }

  &__description {
    @extend .main-tech__description;

    margin-bottom: 20px;

    max-width: 770px;
  }
}
