.wrapper {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding: 70px 113px;

  background-image: url('../img/pattern.png');
  background-repeat: repeat;
  background-position: top left;
}
